:root {
  --primary:#ff8c42ff ;
  --secondary:#fcaf58ff ;
  --tertiary:#f9c784ff ;
  --quatiary:#ffffffff ;
  --extra:#4e598cff ;

  color-scheme: light dark;
}

header {
  background-color: var(--tertiary);
}

h1 {
  color: var(--extra)
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--secondary);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    --darkPrimary: #134074ff;
    --darkSecondary: #13315cff;
    --darkTertiary: #0b2545ff;
    --darkQuatiary: #8da9c4ff;
    --darkExtra: #eef4edff;
  }

  header {
    background-color: var(--darkTertiary);
  }
  
  h1 {
    color: var(--darkExtra)
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--darkSecondary);
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

}