:root {
  --primary:#a6cc70 ;
  --secondary:#e7ebd4 ;
  --tertiary:#768076 ;
  --quatiary:	#695649 ;
  --extra:#534741;

  color-scheme: light dark;
}

nav {
  background-color: var(--primary);
  border-bottom: solid;  
  border-color: var(--quatiary);
}

h1 {
  color: var(--extra);
  font-family: 'Times New Roman', Times, serif;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--tertiary);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--quatiary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

body {
  background-color: var(--secondary);
}

.gameWindow {
  height: 300px;
  margin-top: 50px;
  background-color: var(--primary);
  border: solid;
  border-color: var(--quatiary);
  border-radius: 10px;
}

.UpgradesCard {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  background-color: var(--tertiary);
  border-radius: 10px;
}

.toggle {
  margin-top: 20px;
}

#upgradelist {
  list-style-type: none;
}

#Word {
  font-size: 75px;
}

#username-warning, #email-warning, #password-warning {
  display: none;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --darkPrimary: #134074ff;
    --darkSecondary: #13315cff;
    --darkTertiary: #0b2545ff;
    --darkQuatiary: #8da9c4ff;
    --darkExtra: #eef4edff;
  }

  header {
    background-color: var(--darkTertiary);
  }
  
  h1 {
    color: var(--darkExtra)
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--darkSecondary);
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

} */